<form >
  <div class="field is-horizontal">
    <div class="field-body">

      <!--field amount-->
      <div class="field is-narrow">
        <p class="control">
          <input type="number" class="input" style="width:100px" placeholder="Amount">
        </p>
      </div>

      <!--field description-->
      <div class="field">
        <p class="control">
          <input type="text" class="input"  placeholder="Description">
        </p>
      </div>

      <!--button add-->
      <div class="field is-narrow">
        <button class="button is-primary" >Add</button>
      </div>
    </div>
  </div>
</form>
